<h1>Listing high_scores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @high_scores.each do |high_score| %>
  <tr>
    <td><%= high_score.name %></td>
    <td><%= high_score.score %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New High score', new_high_score_path(:score => 0) %>
